<div
  class="flex justify-center items-center bg-zinc-100 p-10 h-[calc(100%-8rem)]"
>
  <div
    class="w-full max-w-[330px] text-center flex flex-col justify-center items-center"
  >
    <mat-spinner *ngIf="loading" diameter="40"></mat-spinner>
    <form
      *ngIf="!loading"
      [formGroup]="formLogin"
      (ngSubmit)="ingresar()"
      class="flex flex-col items-center w-full"
    >
      <img src="./assets/img/login.svg" alt="login" class="size-48" />
      <h1 class="font-bold text-6xl">Iniciar Sesión</h1>
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input
          matInput
          autocomplete="off"
          autofocus
          type="email"
          formControlName="email"
        />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          autocomplete="off"
          autofocus
          formControlName="password"
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="formLogin.invalid"
        class="w-full btn-submit"
        type="submit"
      >
        Ingresar
      </button>
    </form>
  </div>
</div>
