<footer class="newsletter">
  <section class="newsletter-subscription">
    <div>
      <h2 class="newsletter-subscription__title"></h2>
      <p class="newsletter-subscription__description">
        Para estar al tanto de las últimas noticias y consejos sobre cómo
        contribuir al cuidado del medio ambiente, suscríbete a nuestra
        newsletter ecológica. Tu dirección de correo electrónico está segura con
        nosotros, nunca la compartiremos con terceros.
      </p>
      <form class="newsletter-subscription__form" action="#">
        <input class="newsletter-subscription__input" type="text" />
      </form>
    </div>
    <div class="newsletter-subscription__submit-container">
      <input
        class="newsletter-subscription__submit"
        type="submit"
        value="Suscribirse"
      />
    </div>
  </section>

  <section class="newsletter-contact">
    <p class="newsletter-contact__description">
      Para recibir consejos sobre cómo hacer crecer su comunidad, suscríbase a
      nuestro boletín semanal. Nunca le enviaremos spam ni le pasaremos su
      dirección de correo electrónico..
    </p>
    <div class="newsletter-contact__phone-container">
      <a class="newsletter-contact__anchor" href="#">Phone: +1-543-123-4567</a>
    </div>
    <div class="newsletter-contact__email-container">
      <!-- <img src="./images/icon-email.svg" alt="email" /> -->

      <a class="newsletter-contact__anchor" href="mailto:example@huddle.com"
        >Email: example@rayo.com</a
      >
    </div>
    <div class="newsletter-contact__social-container">
      <i class="fa-brands fa-square-facebook fa-xl"></i>
      <i class="fa-brands fa-instagram fa-xl"></i>
      <i class="fa-brands fa-square-twitter fa-xl"></i>
    </div>
  </section>
</footer>
